:root{
  --first-color: #2e2e41;
  --second-color: #5b85ff;
  --third-color: #434354;
  --text-color: #fff;

  --box-shadow: 0 5px 25px rgba(255, 255, 255, 0.1);
  --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}
section{
  position: relative;
  margin: 0 80px;
  transition: 0.5s ease;
}

.main-container{
  position: relative;
}

.item-nav-bar{
  position: relative;
  margin: 20px 10px 40px 10px;
}

.item-nav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.item-menu{
  max-width: 1200px;
  color: var(--text-color);
  list-style: none;
  background: var(--third-color);
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--third-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
  scroll-behavior: smooth;
}

.item-menu.dragging{
  scroll-behavior: unset;
  cursor: grab;
}

.item-menu.dragging .item{
  pointer-events: none;
}

.item-menu::-webkit-scrollbar{
  display: none;
}

.item{
  color: var(--text-color);
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  margin: 0 2px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--first-color);
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;
}
.item:hover{
  background-color: var(--second-color);
}

.item.active{
  background-color: var(--second-color);
}



.left-btn, .right-btn{
  position: absolute;
  color: var(--text-color);
  font-size: 1.8em;
  padding: 10px;
  cursor: pointer;
}

.left-btn{
  left: 0;
  background: linear-gradient(to left, transparent, var(--first-color) 80%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: none;
}

.right-btn{
  right: 0;
  background: linear-gradient(to right, transparent, var(--first-color) 80%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tab-content{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab{
  max-width: 1100px;
  padding: 15px 50px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  transform: translate(25px);
  content-visibility: hidden;
  opacity: 0;
}

.tab.active{
  transform: translate(0px);
  content-visibility: visible;
  opacity: 1;
  transition: 1s ease;
}

.tab .row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  gap: 30px;
}

.tab .img-card{
  position: relative;
  width: 450px;
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.tab .img-card img{
  width: 100%;
  transition: 0.2s linear;
}

.right-column{
  max-width: 800px;
}

.info h2, p{
  color: var(--text-color);
  margin-bottom: 10px;
}

.img-card img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.popup-img{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-img span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100px;
}

.popup-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media(max-width: 768px){
  .popup-img img{
    width: 95%;
  }
}

.titleText{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw; 
  background-color: #111111;
}
.subTitleText{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  padding: 10px;
  background-color: #111111;
}
p{
  text-align: left;
  font-size: 1vw;
  background-color: #111111;
}

a {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

body{
  background-color: #111111;
}