.titleText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;  
}
.subTitleText{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  padding: 10px;
}
p{
  text-align: left;
  font-size: 1vw;
}
.center2{
  margin-left: auto;
  margin-right: auto;
}

.FAQ{
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: black;
}
  
h2.FAQtitle{
  font-size: 3rem;
  margin: 2rem 0rem;
  color: #fff;
}
  
.FAQdiv{
  width: 60%;
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.question h3{
  font-size: 1.8rem;
  color: #fff;
}
  
.answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  color: #fff;
}
  
.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
  
.FAQdiv.active .answer{
  max-height: 3000px;
  animation: fade 0.5s ease-in-out;
}
  
.FAQdiv.active svg{
  transform: rotate(180deg);
}
  
svg{
  transition: transform 0.5s ease-in;
}
  
@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
  
.answer img{
  width: 100%;
}